.box{
    height: 500px;
    width: 700px;
}
.header{
    display: inline-block;
}
.logo{
    height: 50px;
    width: 100px;
    background-color: rgba(53, 48, 48, 0.779);
}
.primaryNav{
  width: 200px;
  height: 50px;
  background-color: gray;
}
main{
    display:inline-block ;
}
.column1{
    width: 35%;
    height: 90%;
    background-color: rgba(128, 128, 128, 0.959);
    margin: 10px;
}
.column2{
    width: 35%;
    height: 90%;
    background-color: rgba(128, 128, 128, 0.959);
    margin:10px 5px 10px 10px;
}
.aside{
width: 15%;
height: 90%;
background-color: rgba(128, 128, 128, 0.63);
}